*.o
depend.inc

Build/bin
Build.armhf/bin

cpprogress/cpprogress
prismapp/demoapp/demoapp-arm
lcd/xlib_lcdcheck
log-battery/log-battery
mainpanel/mainpanel
tp-grid/tp-grid
wlantool/wlantool*

ntpdate/ntp-4.2.6p5/

felica-sdk/arch/linux/build/*.a
felica-sdk/arch/linux/build/*.so
felica-sdk/arch/linux/build/*.So
nfc-extension/arch/linux/build/*.a
nfc-extension/arch/linux/build/*.so
nfc-extension/arch/linux/build/*.So
